body {
  background-color: lightseagreen;
  font-family: georgia;
  text-align: center;
  height: 33;
  font-size: large;
  height: 73;
  line-height: 1.6;
}
#title {
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 44px;
}
.description {
  text-align: center;
  line-height: 1.6;
  color: rgb(42, 118, 165);

  padding: 20px 20px;
  margin-bottom: 44px;
  padding: 20px;
  border-radius: 8px;
}
#button {
  text-decoration: none;
  color: rgb(111, 32, 32);
  border-radius: 8px;
  font-weight: 700;
  border: 10px solid rgb(73, 156, 156);
  background-color: rgb(168, 188, 93);
  padding: 10px 20px;
  border-bottom-right-radius: 70%;
  box-shadow: 0 22px 77px rgb(148, 217, 148);
  font-size: large;
}
img {
  border-radius: 80%;
  width: 400px;
}
a {
  color: bisque;
  font-size: small;
  text-decoration-style: wavy;
}
video {
  width: 607px;
}
.information {
  color: rgb(62, 62, 97);
  background-color: lightgray;
  text-decoration: underline;
  font-weight: 700;
}
.scores {
  background-color: bisque;
  text-align: center;
  align-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#reset {
  border-radius: 44px;
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
}
